.container {
    max-width: 120rem;
    margin: 8rem auto ;
    background-color: var(--color-Grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-Grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    

.content {
    display: flex;
    flex-direction: row;
    
}

.sidebar {
    background-color: var(--color-Grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}
           
.hotel-view {
    background-color: var(--color-Grey-light-3);
    flex-grow: 1;
    
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-Grey-light-1);
    border-bottom: var(--line);
}

.description {
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
}

.user-reviews {
    flex: 1;

}
        


